.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 175px;
  height: 275px;
  background-color: aquamarine;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(3,175px);
  grid-template-rows: repeat(3,275px);
  grid-gap:30px 30px;
}